<% @posts.each do |p|%>
  <h3><%= p.title %></h3>
<% end %>

<form action="/posts" method="post">
  Create a new post:
  <br>
  <input type="text" name="post[title]" placeholder='title'>
  <br>
  <input type="text" name="post[url]" placeholder='url'>
  <br>
  <input type="submit" value='new post'>
</form>
